<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="courses" routerLinkActive="active" class="nav-link">Course List</a>
      </li>
      <li class="nav-item">
          <a routerLink="create-course" routerLinkActive="active" class="nav-link">Add Course</a>
      </li>
      <li class="nav-item">
          <a routerLink="user-login" routerLinkActive="active" class="nav-link">Login</a>
      </li>
     <li class="nav-item">
          <a routerLink="users" routerLinkActive="active" class="nav-link">Users List</a>
      </li>
      <li class="nav-item">
          <a routerLink="create-user" routerLinkActive="active" class="nav-link">Create Users</a>
      </li>

  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--
<footer class="footer">
  <div class="container">
      <span>All Right Reserved 2022 @AmanChouhan </span>
  </div>
</footer>
--->
